$bg: #4D4545;

$color: #edeeef;

$circleColor: #ebf3f4;

$font-stack: 'Lato', sans-serif;

html,
body {
    font: 100% $font-stack;
    font-weight: 300;
    height: 100%;
    background-color: $bg;
    font-size: 10px;
    font-family: STKaiti, "微软雅黑", "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
}

p {
    margin-bottom: 0.1rem;
}

.blue-bg {
    background-color: $bg;
    color: $color;
    height: 100%;
}
    
.circle {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10%;
    background-color: $circleColor;
    color: $bg;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row {
    display: flex;
    .col-2 {
        display: inline-flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        &::after {
            content: '';
            position: absolute;
            border-left: 3px solid $color;
            z-index: 1;
        }
    }
    .col-2.bottom {
        &::after {
            height: 50%;
            left: 50%;
            top: 50%;
        }
    }
    .col-2.full {
        &::after {
            height: 100%;
            left: calc(50% - 3px);
        }
    }
    .col-2.top {
        &::after {
            height: 50%;
            left: 50%;
            top: 0;
        }
    }
}



.timeline {
    div {
        padding: 0;
        height: 40px;
    }
    hr {
        border-top: 3px solid $color;
        margin: 0;
        top: 17px;
        position: relative;
    }
    .col-2 {
        display: flex;
        overflow: hidden;
    }
    .corner {
        border: 3px solid $color;
        width: 100%;
        position: relative;
        border-radius: 15px;
    }
    .top-right {
        left: 50%;
        top: -50%;
    }
    .left-bottom {
        left: -50%;
        top: calc(50% - 3px);
    }
    .top-left {
        left: -50%;
        top: -50%;
    }
    .right-bottom {
        left: 50%;
        top: calc(50% - 3px);
    }
}


